*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
emetsoft/.gradle
emetsoft/local.properties
emetsoft/.idea/workspace.xml
emetsoft/.idea/libraries
emetsoft/build
emetsoft/out_make
emetsoft/captures

